{% extends 'store/base3.html' %}
{% load static %}
{% load accounts_extras %}
{% load form_filter %}
{% block title %}
{{ book.title|title }}
{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'books' %}">Books</a></li>
{% if book.category|title == 'Pre-School'%}
<li class="breadcrumb-item"><a href="{% url 'pre-school' %}">{{ book.category|title }}</a></li>
{% elif book.category|title == 'Primary School'%}
<li class="breadcrumb-item"><a href="{% url 'primary-school' %}">{{ book.category|title }}</a></li>
{% elif book.category|title == 'High School'%}
<li class="breadcrumb-item"><a href="{% url 'high-school' %}">{{ book.category|title }}</a></li>
{% elif book.category|title == 'Exam & Study '%}
<li class="breadcrumb-item"><a href="{% url 'exam-study' %}">{{ book.category|title }}</a></li>
{% elif book.category|title == 'Story Books'%}
<li class="breadcrumb-item"><a href="{% url 'story-books' %}">{{ book.category|title }}</a></li>
{% endif %}
<li class="breadcrumb-item active" aria-current="page">{{ book.title|title }}</li>
{% endblock %}
{% block content %}

<div class="container-fluid ">
    <div class="container d-flex px-0">
        <div class="container px-0 mt-5 position-relative detail-border">

            <div class="container mx-0 row d-flex justify-content-center ms-5 ps-lg-5">

                <div class="col-10 col-md-4 col-lg-4 ms-lg-5 py-md-5">
                    <h3 class="h3">{{ book.title }}</h3>
                    <p class="fs-4 py-2">
                        By {% for contributor in book.contributors.all %}
                            {{ contributor }}
                        {% endfor %}
                    </p>
                    {% if rating %}
                    <p class="mb-2">
                        {% for filled in rating|star_range %}
                        {% if filled %}<i class="bi bi-star-fill text-warning"></i>{% else %}<i class="bi bi-star text-warning"></i>{% endif %}
                        {% endfor %}
                        <span class="text-muted small">({{ reviews.count }})</span>
                    </p>
                    {% endif %}
                    {% book_purchase_context book user as purchase %}
                    {% is_wishlisted book user as wishlisted %}
                    {% include "store/_wishlist_toggle.html" %}
                    {% include "store/_book_purchase.html" %}
                </div>

            </div>

            <div class="container mt-5">
            <div class="d-flex justify-content-center">
                <ul class="nav nav-tabs fs-5" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="true">Description</button>
                    </li>
                    <li class="nav-item" role="presentation">
                    <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false">Reviews</button>
                    </li>
                    <li class="nav-item" role="presentation">
                    <button class="nav-link" id="author-tab" data-bs-toggle="tab" data-bs-target="#author" type="button" role="tab" aria-controls="author" aria-selected="false">About Author</button>
                    </li>
                </ul>
            </div>
              <div class="tab-content pt-0 pb-5" id="myTabContent">
                <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                    <div class="container p-5 justify-content-start row">
                       <p class="fs-5">{{ book.description }}</p>
                   </div>
                </div>
                <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                   <div class="justify-content-md-center d-md-flex">
                       <ul class="list-group">
                            {% for review in reviews %}
                            <li class="list-group-item">
                                <span>
                                {% for filled in review.rating|star_range %}
                                {% if filled %}<i class="bi bi-star-fill text-warning"></i>{% else %}<i class="bi bi-star text-warning"></i>{% endif %}
                                {% endfor %}
                                </span>
                                <span class="fw-semibold ms-2">{{ review.creator }}</span>
                                <span class="text-muted small ms-2">{{ review.date_created|date:"d M Y" }}{% if review.date_edited %} (edited){% endif %}</span>
                            </li>
                            {% endfor %}
                        </ul>
                   </div>
                </div>
                <div class="tab-pane fade" id="author" role="tabpanel" aria-labelledby="author-tab">
                    <div class="container p-5 justify-content-start row">
                        {%for contributor in book.contributors.all %}
                       <p class="fs-5">{{ contributor.description }}</p>
                        {% endfor %}
                   </div>
                </div>
              </div>
            </div>

            <div class="container position-absolute detail-img">

                <img class="img-fluid d-none d-md-block" src="{{ book.book_image.url }}" alt="{{ book.title }}">

            </div>

        </div>


    </div>
</div>


<div class="container-fluid mx-0 px-0 pt-5 my-5" >
        <div class="container row justify-content-start">
            <div class="row py-3">
            <p class="fs-2 ps-md-5">Related Products</p>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-evenly mt-1">
        {% for book in related_books %}
            {% include "store/_book_card.html" with book=book variant="grid" wrapper_classes="col-6 col-lg-3 d-flex my-4 justify-content-center book-border plainlinks" %}
        {% endfor %}
            </div>
        </div>
</div>
{% endblock %}