<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnRite | Home Page</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap-icons/font/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'font/comfortaa.css' %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'store/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'store/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'store/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'store/site.webmanifest' %}">

    <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/owl.carousel/dist/assets/owl.theme.default.min.css' %}">
</head>
<body>
    <div class="container-fluid px-0 pb-0  mx-0" id="navdiv">
        <div class="pattern-container mx-0 px-0">
            <img src="{% static 'store/pattern.png' %}" class="img-fluid mx-0 px-0 py-0 my-0" alt="">
        </div>
        <div class="mb-0">
            {% include "_nav.html" %}
            {% include "_messages.html" %}

            <div class="container pt-5 mt-5">
                <div class="row d-md-flex align-items-center">
                    <div class="col-md-7 order-md-2">
                        <img class="col-auto float-md-end img-fluid pe-4 ps-0" src="{% static 'store/Learnrite_bookcover.png' %}" alt="">
                    </div>
                    <div class="col-md-5 pb-5 pt-md-3 order-md-1 ps-md-4">
                        <h1 class="h1 pt-md-4">To Succeed, <br>You Must Read.</h1>
                        <p class="h5 my-4 pb-1 fs-4 fw-light text-wrap">Find our authentic easy-to-understand textbooks for all your subjects.</p>
                        <a class="btn btn-dark btn-large mt-md-3 px-4 py-2" href="{%url 'books'%}">
                            
                            Buy Books 
                            <svg width="40" height="9" viewBox="0 0 40 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M39.4243 4.92426C39.6586 4.68995 39.6586 4.31005 39.4243 4.07574L35.6059 0.257359C35.3716 0.0230446 34.9917 0.0230446 34.7574 0.257359C34.523 0.491674 34.523 0.871573 34.7574 1.10589L38.1515 4.5L34.7574 7.89411C34.523 8.12843 34.523 8.50833 34.7574 8.74264C34.9917 8.97696 35.3716 8.97696 35.6059 8.74264L39.4243 4.92426ZM0 5.1H39V3.9H0V5.1Z" fill="white"/>
                            </svg>                        
                        
                        </a>
                    </div>
                </div>
            </div>

            <div class="container-fluid ms-0 mb-0 pb-0 image-container">
                <img src="{% static 'store/icons/pattern_bottom.svg' %}" class="pb-0 img-fluid h-100" alt="">
            </div>
        </div>  
    </div>


    <div class="container-fluid overflow-hidden py-5 mx-0">
        <div class="row justify-content-center">

            <div class="col-2 mx-3 flex-column justify-items-center pinkbg">
                <div class=" justify-content-center" style="max-height: 85px;">
                    <img src="{% static 'store/secure_payments.svg' %}" class="img-fluid mx-md-5" alt="">
                </div>
                <div class="pt-3">
                    <p class="fs-6 text-center fw-semibold mx-auto">
                        Safe, Secured Payments.
                    </p>
                </div>    
            </div>

            <div class="col-2 mx-3 flex-column justify-content-center pinkbg">
                <div class=" justify-content-center" style="max-height: 85px;">
                    <img src="{% static 'store/customer_care.svg' %}"  class="img-fluid mx-md-5" alt="">
                </div>
                <div class="pt-3">
                    <p class="fs-6 text-center fw-semibold mx-auto">
                        24/7 Customer Care<br> Service.
                    </p>
                </div> 

            </div>
            
            <div class="col-2 mx-3 flex-column justify-content-center pinkbg">
                <div class=" justify-content-center" style="max-height: 85px;">
                    <img src="{% static 'store/delivery_options.svg' %}" class="img-fluid mx-md-5" alt="">
                </div>
                <div class="pt-3">
                    <p class="fs-6 text-center fw-semibold mx-auto">
                        Order Pickup or Delivery<br> Available.
                    </p>
                </div> 
            </div>
        </div>
    </div>
    <div class="container-fluid overflow-hidden mb-3 g-0 mx-0 pb-5 mb-5">
        <div class="row g-0 ps-md-5 d-flex align-items-center mx-md-0">
            <div class="col-md-6 mx-0 mb-4 ms-md-0 ms-3 ">
                <div class="ps-md-5">
                <h5 class="h1"> The Pace Setters For Modern Publishing</h5>
                <p class="card-text h5 fw-semibold py-4">We pride ourselves in curating Original Education <br> content, essential to children's needs in every subject.</p>
                <p class="card-text">
                    <a class="btn btn-large btn-outline-dark px-4 py-2" href="{% url 'aboutus'%}">
                    
                    About Us 
                    <svg class="ps-1 svg-arrow" width="40" height="9" viewBox="0 0 40 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M39.4243 4.92426C39.6586 4.68995 39.6586 4.31005 39.4243 4.07574L35.6059 0.257359C35.3716 0.0230446 34.9917 0.0230446 34.7574 0.257359C34.523 0.491674 34.523 0.871573 34.7574 1.10589L38.1515 4.5L34.7574 7.89411C34.523 8.12843 34.523 8.50833 34.7574 8.74264C34.9917 8.97696 35.3716 8.97696 35.6059 8.74264L39.4243 4.92426ZM0 5.1H39V3.9H0V5.1Z" />
                    </svg> 
                    </a>
                </p>
                </div>
            </div>
            <div class="d-flex col-md-6 mx-0">
                <img src="{% static 'store/free-children-book-cover.svg' %}" class="img-fluid d-flex mx-0" style="max-width: 650px; min-width: 250px;" alt="...">
            </div>
        </div>
    </div>

    <!--Carousel Section-->
    <div class="container-fluid overflow-hidden mx-0 px-0 pt-5" style="background-color: #FAFAFA;">
        <div class="owl-carousel owl-theme owl-loaded pb-5" id="my-carousel">
                <div class="row bd-highlight ps-5 ps-sm-1">
                    <div class="d-flex col-12 col-sm-8 me-auto">
                        <h1 class="h1 ps-md-5 ms-md-5 ps-2 d-xs-none d-md-block">Best Sellers</h1>
                    </div>
                    <div class="owl-nav d-flex me-0 col-4 col-sm-4 d-none d-md-block justify-content-end ">
                        <button class="fs-3 custom-prev" id="my-prev"><i class="bi-arrow-left-short"></i></button>
                        <button class="fs-3 custom-next" id="my-next"><i class="bi-arrow-right-short"></i></button>
                    </div>
                </div>
            <div class="owl-stage-outer">
                <div class="owl-stage owl-height pb-5">
                    {% for book in books %}
                    <div class="owl-item">
                        {% include "store/_book_card.html" with book=book variant="compact" wrapper_classes="d-flex justify-content-center carousel-border plainlinks" image_class="carousel-image" %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>
        <div class="container-fluid mx-0 bg-white d-flex justify-content-center align-content-center py-5 ">
            <a class="btn btn-large btn-outline-dark px-4 py-2" href="#">
       
                View Best Sellers
                <svg class="ps-1 svg-arrow" width="40" height="9" viewBox="0 0 40 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M39.4243 4.92426C39.6586 4.68995 39.6586 4.31005 39.4243 4.07574L35.6059 0.257359C35.3716 0.0230446 34.9917 0.0230446 34.7574 0.257359C34.523 0.491674 34.523 0.871573 34.7574 1.10589L38.1515 4.5L34.7574 7.89411C34.523 8.12843 34.523 8.50833 34.7574 8.74264C34.9917 8.97696 35.3716 8.97696 35.6059 8.74264L39.4243 4.92426ZM0 5.1H39V3.9H0V5.1Z" />
                </svg> 
            </a>
        </div>
    </div>


    <!--Categories Section-->
    <div class="container-fluid mx-0 px-0 overflow-hidden">
        <div class="container">
            <h1 class="h1">Browse Catergories</h1>
        </div>
        <div class="container">
            <div class="d-flex justify-content-center">
                <ul class="nav nav-tabs fs-5" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="preSchool-tab" data-bs-toggle="tab" data-bs-target="#preSchool" type="button" role="tab" aria-controls="home" aria-selected="true">Pre-School</button>
                    </li>
                    <li class="nav-item" role="presentation">
                    <button class="nav-link" id="primarySchool-tab" data-bs-toggle="tab" data-bs-target="#primarySchool" type="button" role="tab" aria-controls="profile" aria-selected="false">Primary School</button>
                    </li>
                    <li class="nav-item" role="presentation">
                    <button class="nav-link" id="highSchool-tab" data-bs-toggle="tab" data-bs-target="#highSchool" type="button" role="tab" aria-controls="contact" aria-selected="false">High School</button>
                    </li>
                    <li class="nav-item" role="presentation">
                    <button class="nav-link" id="examStudy-tab" data-bs-toggle="tab" data-bs-target="#examStudy" type="button" role="tab" aria-controls="contact" aria-selected="false">Exam Study</button>
                    </li>
                    <li class="nav-item" role="presentation">
                    <button class="nav-link" id="extraCurricular-tab" data-bs-toggle="tab" data-bs-target="#extraCurricular" type="button" role="tab" aria-controls="contact" aria-selected="false">Extra-Curricular</button>
                    </li>
                </ul>
            </div>    
              <div class="tab-content pt-0 pb-5 plainlinks" id="myTabContent">
                <div class="tab-pane fade show active" id="preSchool" role="tabpanel" aria-labelledby="preSchool-tab">
                    <div class="justify-content-center row">
                        {%for book in pre_school %}
                        {% include "store/_book_card.html" with book=book variant="compact" wrapper_classes="col-4 d-flex justify-content-center mt-4 mx-4 mb-5 navtab-border position-relative" image_class="navtab-image" %}
                        {% endfor %}
                   </div>
                </div>
                <div class="tab-pane fade" id="primarySchool" role="tabpanel" aria-labelledby="primarySchool-tab">
                   <div class="justify-content-md-center d-md-flex">
                        {%for book in p_school %}
                        {% include "store/_book_card.html" with book=book variant="compact" wrapper_classes="col-4 d-flex justify-content-center mt-4 mx-4 mb-5 navtab-border position-relative" image_class="navtab-image" %}
                        {% endfor %}
                   </div>
                </div>
                <div class="tab-pane fade" id="highSchool" role="tabpanel" aria-labelledby="highSchool-tab">
                    <div class="justify-content-md-center d-md-flex">
                        {% if h_school %}
                        {%for book in h_school %}
                        {% include "store/_book_card.html" with book=book variant="compact" wrapper_classes="col-4 d-flex justify-content-center mt-4 mx-4 mb-5 navtab-border position-relative" image_class="navtab-image" %}
                        {% endfor %}
                        {% else %}
                        <div class="col-4 d-flex justify-content-center mt-4 mx-4 mb-5 navtab-border position-relative">
                            <div class="justify-content-center">
                                <p class="text-center lh-1 fw-semibold fs-4 pt-4 my-0 pb-0">Coming </p>
                                <p class="text-center lh-1 pt-1 mt-1">Soon</p>
                            </div>
                        </div>

                        <div class="col-4 d-flex justify-content-center mt-4 mx-4 mb-5 navtab-border position-relative">
                            <div class="justify-content-center">
                                <p class="text-center lh-1 fw-semibold fs-4 pt-4 my-0 pb-0">Coming </p>
                                <p class="text-center lh-1 pt-1 mt-1">Soon</p>
                            </div>
                        </div>

                        <div class="col-4 d-flex justify-content-center mt-4 mx-4 mb-5 navtab-border position-relative">
                            <div class="justify-content-center">
                                <p class="text-center lh-1 fw-semibold fs-4 pt-4 my-0 pb-0">Coming </p>
                                <p class="text-center lh-1 pt-1 mt-1">Soon</p>
                            </div>
                        </div>
                        {% endif %}
                   </div>
                </div>
                <div class="tab-pane fade " id="examStudy" role="tabpanel" aria-labelledby="examStudy-tab">
                   <div class="justify-content-md-center d-md-flex">
                        {%for book in exam_study %}
                        {% include "store/_book_card.html" with book=book variant="compact" wrapper_classes="col-4 d-flex justify-content-center mt-4 mx-4 mb-5 navtab-border position-relative" image_class="navtab-image" %}
                        {% endfor %}
                   </div>
                </div>
                <div class="tab-pane fade" id="extraCurricular" role="tabpanel" aria-labelledby="extraCurricular-tab">
                    <div class="justify-content-md-center d-md-flex">
                         {%for book in story_books %}
                        {% include "store/_book_card.html" with book=book variant="compact" wrapper_classes="col-4 d-flex justify-content-center mt-4 mx-4 mb-5 navtab-border position-relative" image_class="navtab-image" %}
                        {% endfor %}
                   </div>
                </div>
                <div class=" bg-white d-flex justify-content-center align-content-center py-5 ">
                    <a href="{%url 'books'%}" class="btn btn-large btn-outline-dark px-4 py-2">
               
                        View More Books
                        <svg class="ps-1 svg-arrow" width="40" height="9" viewBox="0 0 40 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M39.4243 4.92426C39.6586 4.68995 39.6586 4.31005 39.4243 4.07574L35.6059 0.257359C35.3716 0.0230446 34.9917 0.0230446 34.7574 0.257359C34.523 0.491674 34.523 0.871573 34.7574 1.10589L38.1515 4.5L34.7574 7.89411C34.523 8.12843 34.523 8.50833 34.7574 8.74264C34.9917 8.97696 35.3716 8.97696 35.6059 8.74264L39.4243 4.92426ZM0 5.1H39V3.9H0V5.1Z" />
                        </svg> 
                    </a>
                </div>
              </div>
        </div>
    </div>


        <!--Newsletter Section-->
        <div class="container-fluid overflow-hidden mx-0 px-0 d-flex align-content-lg-end pb-5 mb-5">
            <div class="col-12 col-md-6 ps-md-5 ps-sm-3 d-flex justify-content-center align-items-center" style="background-color: #FAFAFA;">
                <div class="ps-md-5 align-items-start ms-md-0 ms-3">
                    <h2 class="h1">Join Our Newsletter</h2>
                    <p class="fs-4 fw-semibold lh-1"> Subscribe to our newsletter and be the first to<br> get updates and special offers.</p>
                    <form class="form-inline input-group row gx-0 p-2 flex-nowrap" action="" method="post" target="_self">
                        <input class="form-control-lg col-auto no-right-border w-md-75 w-50 ms-0" id="newsletter-input" type="email" name="" placeholder="Enter your email">
                        <button class="ms-0 col-auto border btn btn-dark no-left-border py-2 px-4">Subscribe</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <img src="{% static 'store/Newsletter_Image.svg'%}" class="img-fluid" alt="">
            </div>
        </div>

    <!--Blog Section-->
    <div class="container-fluid mx-0">
        <div class="container px-0 mt-5 pt-5 justify-content-center plainlinks">
            <div class="row col-sm-12 text-md-start px-0">
                <h2 class="h2">From Our Journal</h2>
            </div>
            <div class="row d-flex align-content-center mt-3">
                <h1>Stay Tuned.</h1>
            </div>
            <div class="bg-white d-flex justify-content-evenly align-content-center py-5">
                <a href="#" class="btn btn-large btn-outline-dark px-4 py-2"> 
       
                    Read More
                    <svg class="ps-1 svg-arrow" width="40" height="9" viewBox="0 0 40 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M39.4243 4.92426C39.6586 4.68995 39.6586 4.31005 39.4243 4.07574L35.6059 0.257359C35.3716 0.0230446 34.9917 0.0230446 34.7574 0.257359C34.523 0.491674 34.523 0.871573 34.7574 1.10589L38.1515 4.5L34.7574 7.89411C34.523 8.12843 34.523 8.50833 34.7574 8.74264C34.9917 8.97696 35.3716 8.97696 35.6059 8.74264L39.4243 4.92426ZM0 5.1H39V3.9H0V5.1Z" />
                    </svg> 
                </a>
            </div>
        </div>
    </div>

        <!--Author Section-->


     <div class="container-fluid overflow-hidden px-0 mx-0">
            <div class="container px-0">
                <div class="row p-md-0">
                    <div class="col-sm-12 text-center text-md-start">
                        <h2 class="h2">Author Spotlight</h2>
                    </div>
                </div>
                <div class="row author-text d-flex justify-content-center">

                    <div class="col-md-4 py-3 px-0 mx-0 border-1 text-center">
                        
                        <div class="px-md-0 plainlinks">
                            <img class="img-fluid h-md-50 author-border" src="{% static 'store/Jogbeara.jpg' %}" alt="">
                            <div class="">
                                <a href="{% url 'author_detail' author.pk %}" class="fs-3 mt-lg-1 text-wrap">Judeson A Ogberaha</a>
                            </div>
                        </div>
                        
                    </div>

                </div>
                <div class="container-fluid bg-white d-flex justify-content-center align-content-center py-5">
                    <a href="{% url 'authors' %}" class="btn btn-large btn-outline-dark px-4 py-2">
           
                        View All Authors
                        <svg class="ps-1 svg-arrow" width="40" height="9" viewBox="0 0 40 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M39.4243 4.92426C39.6586 4.68995 39.6586 4.31005 39.4243 4.07574L35.6059 0.257359C35.3716 0.0230446 34.9917 0.0230446 34.7574 0.257359C34.523 0.491674 34.523 0.871573 34.7574 1.10589L38.1515 4.5L34.7574 7.89411C34.523 8.12843 34.523 8.50833 34.7574 8.74264C34.9917 8.97696 35.3716 8.97696 35.6059 8.74264L39.4243 4.92426ZM0 5.1H39V3.9H0V5.1Z" />
                        </svg> 
                    </a>
                </div>
            </div>


            {% include "_footer.html" %}

    </div>




<script src="{% static 'node_modules/@popperjs/core/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>
<script src="{% static 'node_modules/owl.carousel/docs/assets/vendors/jquery.min.js' %}"></script>
<script src="{% static 'node_modules/owl.carousel/dist/owl.carousel.min.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function(){
    $('.owl-carousel').owlCarousel({
        loop:false,
        margin:5,
        stagePadding:80,
        autoplay:true,
        rewind:true,
        autoplayTimeout:5000,
        autoplayHoverPause:true,
        items:5,
        dots:false,
        
        responsiveClass:true,
        responsive:{
            0:{
                items:1,
                margin:5,
                slideBy:1,
                nav:false
            },
            480:{
                items:2,
                margin:2,
                slideBy:1,
                nav:false,
                stagePadding:5,
            },
            540:{
                items:2,
                margin:3,
                slideBy:2,
                nav:false,
                stagePadding:10,
            },
            680:{
                items:2,
                margin:3,
                slideBy:3,
                nav:false,
                stagePadding:10,
            },
            790:{
                items:3,
                margin:2,
                slideBy:3,
                nav:false,
                stagePadding:10,
            },
            815:{
                items:3,
                slideBy:4,
                margin:4,
                nav:false,
                loop:false,
                stagePadding:20,
            },
            992:{
                items:4,
                slideBy:4,
                margin:4,
                nav:false,
                loop:false,
                stagePadding:20,
            },
            1250:{
                items:5,
                slideBy:5,
                nav:false,
                loop:false,
                stagePadding:20,
            }
        }
    })

    $('#my-prev').click(function() {
      $('#my-carousel').trigger('prev.owl.carousel');
    });
    $('#my-next').click(function() {
      $('#my-carousel').trigger('next.owl.carousel');
    });

    });

</script>
</body>
</html>