{%extends 'store/base1.html' %}
{% load static %}
{% block title %}Our Services{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Our Services</li>
{% endblock %}
{% block content %}
    <div class="container-fluid">
       <div class="container">
            <h2 class="h2">Our Services</h2>
            <p class="fs-5 fw-bold">
                Apart from our hands-on experience in teaching and developing technical content for schools, LearnRite has now extended its gaze to other areas such as writing and editorial services, organizing impactful training workshops and seminars for teachers, and other services that serves that also incorporates technology into our academics as catalysts to innovative thinking, critical thinking, capacity building, and business as well as individual growth. We also provide niche advisory services for individuals and organizations who desire excellence.
            </p>
       </div>
    </div>
    <div class="container-fluid py-3 my-0 mx-0 shaded-bg">
        <div class="container">
        <p class="fs-5 fw-semibold">
          As the uptake of our services ticks upwards, our teeming clientele, comprising organizations and individuals from diverse professions, demand much more from us. Thus, we expend our resources to go the extra mile so that their businesses too can soar above challenges and surpass their dreams.
         </p>
        </div>
    </div>
{% endblock %}