{% load static %}
<footer class="footer py-3">
       <div class="container d-md-flex justify-content-md-evenly pe-lg-0 py-4">
           <div class="col-md-6">
               <h2 class="h3">Join Our Newsletter</h2>
               <p class="fs-6 fw-bold footer-text lh-1"> Be the first to know about latest news, sales and deals.</p>
           </div>
           <div class="col-md-6 text-md-end p-lg-0 me-0">
               <form class="form-inline input-group flex-nowrap gx-0 p-2" action=""  method="post" target="_self">
                   <input class="form-control-sm no-right-border w-75 me-0" id="newsletter-input" type="email" name="" placeholder="Enter your email">
                   <button class="ms-0 border btn btn-dark no-left-border py-2 px-4">Subscribe</button>
               </form>
           </div>
       </div>

       <div class="container">
         <hr class="footer-hr ">
           <div class="container mx-auto row row-cols-1 row-cols-md-5 d-flex footer-text fw-semibold px-md-4 py-3">
               <div class="col lh-sm footer-text">
                   <h6 class="mt-2 mb-3">Social Links</h6>
                   <p class="lh-l"><a href="https://twitter.com/learnritep"><i class="bi bi-twitter me-3"></i></a></p>
                   <p class="lh-1"><a href="https://www.linkedin.com/company/learnrite-international-publishers/"><i class="bi bi-linkedin me-3"></i></a></p>
                   <p class="lh-1"><a href="https://instagram.com/learnritepublishers?igshid=Y2IzZGU1MTFhOQ=="><i class="bi bi-instagram me-3"></i></a></p>
               </div>

               <div class="col footer-text px-0">
                   <h6 class="mt-2 mb-3 ms-2 ms-md-0">Contact</h6>
                   <p class="lh-1 ms-2 ms-md-0"><i class="bi bi-telephone"></i> +234-907-776-5490</p>
                   <p class="lh-1 ms-2 ms-md-0 text-break"><i class="bi bi-envelope"></i><a href="mailto: info@learnritepublishers.com"> info@learnritepublishers.com</a></p>
               </div>

               <div class="col lh-1 footer-text">
                   <h6 class="mt-2 mb-3">Order</h6>
                   <p class="lh-1"><span class="text-muted">Wishlist</span></p>
                   <p class="lh-1"><span class="text-muted">Payment</span></p>
                   <p class="lh-1"><a href="{% if user.is_authenticated %}{% url 'order_history' %}{% else %}{% url 'login' %}{% endif %}">Order History</a></p>
               </div>

               <div class="col lh-1 footer-text">
                   <h6 class="mt-2 mb-3">Resources</h6>
                   <p><span class="text-muted">Blog</span></p>
                   <p><span class="text-muted">Newsletter</span></p>
                   <p><span class="text-muted">Events</span></p>
                   <p><span class="text-muted">Support</span></p>
               </div>

               <div class="col lh-1">
                   <h6 class="mt-2 mb-3">Quick Links</h6>
                   <p><a href="{% url 'aboutus' %}">About Us</a></p>
                   <p><a href="{% url 'services' %}">Our Services</a></p>
                   <p><a href="{% url 'faqs' %}">FAQs</a></p>
                   <p><span class="text-muted">License & Privacy Policy</span></p>
                   <p><span class="text-muted">Terms of Use</span></p>
                   <p><span class="text-muted">Cookies</span></p>
               </div>
           </div>
         <hr class="footer-hr">
         <div class="container d-flex justify-content-between px-lg-0">
           <div class="col-md-6 col-4">
               <img class="img-fluid" src="{% static 'store/footer_logo.svg' %}" alt="">
           </div>
           <div class="col-md-6 col-8 d-flex align-items-end text-md-end m-0 px-0 footer-rights">
               <div class="ms-auto align-self-end">©{% now "Y" %} LearnRite International Publishers.</div>
           </div>
         </div>
       </div>

</footer>
