{% load static %}
<nav class="navbar navbar-expand-lg navbar-light {{ nav_bg_class|default:"bg-transparent" }} pt-5 z-index-2">
        <div class="container">
        <a class="navbar-brand d-flex" href="{% url 'index' %}"><img src="{% static 'store/logo.svg' %}" alt="" class="img-fluid"></a>

        {% if user.is_authenticated %}
        <a class="nav-link position-relative d-lg-none ms-auto me-3" href="{% url 'cart_detail' %}" title="My Cart">
            <svg class="nav-svg" width="25" height="23" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.86182 1H5.86182L8.54182 14.39C8.63326 14.8504 8.88372 15.264 9.24936 15.5583C9.615 15.8526 10.0725 16.009 10.5418 16H20.2618C20.7311 16.009 21.1886 15.8526 21.5543 15.5583C21.9199 15.264 22.1704 14.8504 22.2618 14.39L23.8618 6H6.86182M10.8618 21C10.8618 21.5523 10.4141 22 9.86182 22C9.30953 22 8.86182 21.5523 8.86182 21C8.86182 20.4477 9.30953 20 9.86182 20C10.4141 20 10.8618 20.4477 10.8618 21ZM21.8618 21C21.8618 21.5523 21.4141 22 20.8618 22C20.3095 22 19.8618 21.5523 19.8618 21C19.8618 20.4477 20.3095 20 20.8618 20C21.4141 20 21.8618 20.4477 21.8618 21Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span class="cart-count-badge badge rounded-pill bg-danger position-absolute top-0 start-100 translate-middle" style="font-size: 0.6rem;" {% if not cart_count %}hidden{% endif %}>{{ cart_count }}</span>
        </a>
        {% endif %}

        <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
        </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarText">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0 me-5 nav-font">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-5 px-lg-4" aria-current="page" href="{%url 'books'%}" id="navbarBooksDropdownMenuLink" data-bs-toggle="dropdown" data-bs-placement="end" aria-expanded="false"> Books </a>
                        <ul class="dropdown-menu px-0 py-0" id="books-dropdown" aria-labelledby="navbarBooksDropdownMenuLink">
                             <div id="pre-school-dropdown">
                                <a class="dropdown-item" href="{% url 'pre-school' %}">Pre-School</a>
                            </div>
                            <div id="primary-school-dropdown">
                                <a class="dropdown-item" href="{% url 'primary-school' %}">Primary School</a>
                            </div>
                            <div id="high-school-dropdown">
                                <a class="dropdown-item" href="{% url 'high-school' %}">High School</a>
                            </div>
                            <div id="exam-study-dropdown">
                                <a class="dropdown-item" href="{% url 'exam-study' %}">Exam & Study</a>
                            </div>
                            <div id="story-books-dropdown">
                                <a class="dropdown-item" href="{% url 'story-books' %}">Story Books</a>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-5 px-lg-4" href="{% url 'aboutus' %}" id="navbarAboutUsDropdownMenuLink" data-bs-toggle="dropdown" data-bs-placement="end" aria-expanded="false">About Us</a>
                        <ul class="dropdown-menu py-0" aria-labelledby="navbarAboutUsDropdownMenuLink">
                            <div id="pre-school-dropdown">
                                <a class="dropdown-item" href="{% url 'aboutus' %}">About LearnRite Int'l Publishers</a>
                            </div>
                            <div id="primary-school-dropdown">
                                <a class="dropdown-item" href="{% url 'services' %}">Our Services</a>
                            </div>
                            <div id="high-school-dropdown">
                                <a class="dropdown-item" href="{% url 'givingback' %}">How We Give Back</a>
                            </div>
                            <div id="exam-study-dropdown">
                                <a class="dropdown-item" href="#">Blog Posts</a>
                            </div>
                            <div id="story-books-dropdown">
                                <a class="dropdown-item" href="{% url 'faqs' %}">FAQs</a>
                            </div>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5 px-lg-4" href="{% url 'authors' %}">Authors & Events</a>
                    </li>
                </ul>
                <ul class="navbar-nav lg-5 me-2 pe-5">
                    <a class="nav-link pe-4 me-2 d-flex align-items-center" href="{% if user.is_authenticated %}{% url 'profile' %}{% else %}{% url 'login' %}{% endif %}">
                         <svg class="nav-svg" width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                             <path d="M20.8618 21V19C20.8618 17.9391 20.4404 16.9217 19.6902 16.1716C18.9401 15.4214 17.9227 15 16.8618 15H8.86182C7.80095 15 6.78353 15.4214 6.03339 16.1716C5.28324 16.9217 4.86182 17.9391 4.86182 19V21M16.8618 7C16.8618 9.20914 15.071 11 12.8618 11C10.6527 11 8.86182 9.20914 8.86182 7C8.86182 4.79086 10.6527 3 12.8618 3C15.071 3 16.8618 4.79086 16.8618 7Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                         </svg>
                         {% if user.is_authenticated %}<small class="ms-1">{{ user.first_name|default:user.email }}</small>{% endif %}
                     </a>

                     {% if user.is_authenticated %}
                     <a class="nav-link pe-4 me-2" href="{% url 'wishlist' %}" title="My Wishlist">
                         <i class="bi bi-heart nav-svg" style="font-size: 1.3rem;"></i>
                     </a>
                     <a class="nav-link pe-4 me-2" href="{% url 'order_history' %}" title="My Orders">
                         <i class="bi bi-receipt nav-svg" style="font-size: 1.3rem;"></i>
                     </a>
                     {% endif %}

                     <a href="#" class="nav-link pe-lg-4 me-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                         <svg class="nav-svg" width="15" height="14" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                             <path d="M19.8618 19L15.5118 14.65M17.8618 9C17.8618 13.4183 14.2801 17 9.86182 17C5.44354 17 1.86182 13.4183 1.86182 9C1.86182 4.58172 5.44354 1 9.86182 1C14.2801 1 17.8618 4.58172 17.8618 9Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                         </svg>
                     </a>

                     <a class="nav-link pe-4 position-relative" href="{% url 'cart_detail' %}">
                         <svg class="nav-svg" width="25" height="23" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                             <path d="M1.86182 1H5.86182L8.54182 14.39C8.63326 14.8504 8.88372 15.264 9.24936 15.5583C9.615 15.8526 10.0725 16.009 10.5418 16H20.2618C20.7311 16.009 21.1886 15.8526 21.5543 15.5583C21.9199 15.264 22.1704 14.8504 22.2618 14.39L23.8618 6H6.86182M10.8618 21C10.8618 21.5523 10.4141 22 9.86182 22C9.30953 22 8.86182 21.5523 8.86182 21C8.86182 20.4477 9.30953 20 9.86182 20C10.4141 20 10.8618 20.4477 10.8618 21ZM21.8618 21C21.8618 21.5523 21.4141 22 20.8618 22C20.3095 22 19.8618 21.5523 19.8618 21C19.8618 20.4477 20.3095 20 20.8618 20C21.4141 20 21.8618 20.4477 21.8618 21Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                         </svg>
                         <span class="cart-count-badge badge rounded-pill bg-danger position-absolute top-0 start-100 translate-middle" style="font-size: 0.6rem;" {% if not cart_count %}hidden{% endif %}>{{ cart_count }}</span>
                     </a>
                </ul>
            </div>
    </div>
</nav>

 <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-keyboard="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
         <div class="offcanvas-body row d-flex justify-content-md-between align-items-center">
             <form action="{% url 'search' %}" method="get" class="row">
                <div class="col-12 col-md-auto order-2 order-md-1">
                {{ form.search_in }}
                </div>
                <div class="col order-1 order-md-2">
                    {{ form.search }}
                </div>
                <div class="col-auto text-end d-none d-md-block order-md-3">
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
             </form>
         </div>
 </div>
