<!DOCTYPE html>
{% load static %}


<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>LearnRite | {% block title %} {% endblock %}</title>
 <link rel="stylesheet" href="{% static 'css/main.css' %}">
 <link rel="stylesheet" href="{% static 'node_modules/bootstrap-icons/font/bootstrap-icons.css' %}">
 <link rel="stylesheet" href="{% static 'css/custom.css' %}">
 <link rel="stylesheet" href="{% static 'font/comfortaa.css' %}">
 <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap">

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'store/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'store/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'store/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'store/site.webmanifest' %}">

 {% block style %}
 {% endblock %}

</head>
<body>
 <div class="container-fluid px-0 pb-0 mx-0">

   <div class="container-fluid mb-0 navbar-bg-img div-height position-relative">
   {% include "_nav.html" %}
   {% block banner %}
   {% endblock %}
   </div>
   </div>


  <div class="container-fluid px-0 mx-0">
   <div class="container my-4">
    <nav aria-label="breadcrumb">
     <ol class="breadcrumb">
       <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
         {% block breadcrumb %}
         {% endblock %}
     </ol>
   </nav>
   </div>

   {% include "_messages.html" %}

   {% block content %}
      <div class="container">
      </div>
   {% endblock %}

 {% include "_footer.html" %}
 </div>

<script src="{% static 'node_modules/@popperjs/core/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.js' %}"></script>
 </div>
<script src="{% static 'js/site-ajax.js' %}"></script>
{% include "chatbot/widget.html" %}
</body>
</html>
